.btn {
  --slider-height-percentage: 140%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 20px;
  --organic-arrow-color: red;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: red;
  --control-bullet-active-color: red;
  --loader-bar-color: white;
  --loader-bar-height: 6px;
}
